<Settings xmlns="http://schemas.datacontract.org/2004/07/DbExplorer" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Connections><Settings.Connection><Category/><ConnString>Server=(local)\SQLEXPRESS; Database=master; Trusted_Connection=true;</ConnString><DbType>SqlServer</DbType><Name>SQL Server Express localhost master</Name><Password/><Provider/><SavePassword>false</SavePassword></Settings.Connection><Settings.Connection><Category/><ConnString>Server=(local); Database=master; Trusted_Connection=true;</ConnString><DbType>SqlServer</DbType><Name>SQL Server localhost master</Name><Password/><Provider/><SavePassword>false</SavePassword></Settings.Connection></Connections><MasterPassword/></Settings>